<html>
   <head>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png')}}" sizes="32x32" />
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png')}}" sizes="16x16" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   </head>
   <body id="in">
    
      <div class="url_deets">
         <form action = "{{ url_for('result') }}" method = "POST">
            <h2>Enter URL Below to Rip</h2>
            <input type = "text" class="url_input" name = "URL" />
            <input type = "submit" class="rip_btn" value = "Rip Text" onclick="$('#loading').show(); $('.outputdeets').show();"/>
         </form>
         <div id="loading" style="display: none">
            <img src="{{ url_for('static', filename='img/ajax_loader.gif')}}" alt="Loading......"/>
         </div>
      </div>

      <div class="social_container">
         <input type="image" src="{{ url_for('static', filename='img/github_icon.png')}}" class="social_btn" onClick="javascript:window.open('https://github.com/nikhilnair31', '_blank');"/>
         <input type="image" src="{{ url_for('static', filename='img/linkedin_icon.png')}}" class="social_btn" onClick="javascript:window.open('https://www.linkedin.com/in/nikhilnair31/', '_blank');"/>
         <input type="image" src="{{ url_for('static', filename='img/playstore_icon.png')}}" class="social_btn" onClick="javascript:window.open('https://play.google.com/store/apps/dev?id=5678454527601486137', '_blank');"/>
         <input type="image" src="{{ url_for('static', filename='img/twitter_icon.png')}}" class="social_btn" onClick="javascript:window.open('https://twitter.com/_silhouettte_', '_blank');"/>
      </div>
   </body>
</html>