<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png')}}" sizes="32x32" />
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png')}}" sizes="16x16" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
   </head>
   <body id="out">
      <div class="riptext_deets">
         <p>This is the result : </p>
         {% for row in result %}
            <p>{{ row }}</p>
         {% endfor %}
      </div>
   </body>
</html>